$white: #fff;
$black: #000;
$background-blue: #cfd6da;
$medium-gray: #a5a5a5;
$font-gray: #494949;
$transparent-blue: #5858fc25;
$medium-blue: #6868fd;
$dark-blue: #6060e4;
$font-warning: #ff1e1e;
$font-warning-dark: #ee1e1e;
$background-warning: #ff1e1e1c;

// new
// $light-gray: #c7c7c7;
$medium-gray: #5e5e5e;
$light-gray: #dddddd;
$lighter-gray: #f0f0f0;
$light-blue: #4097ff;
$warning: #ff6b6b;
$orange: #ed500a;
