@import '../../../../styles/main';

#table_head {
  th {
    padding: 0.5rem;
    font-size: $font-size-medium;
    color: $font-gray;
    font-weight: normal;
  }
}

#row {
  border-left: 0.3rem solid transparent;

  td {
    font-size: $font-size-medium;
    padding: 0.5rem;
    color: $black;
  }
}
